:host {
  display: block;

  height: 100%;
  width: max-content;

  position: fixed;
  top: 0;
}

aside {
  display: block;

  width: 20rem;
  height: 100%;

  background-color: rgba(var(--app-color-dark-rgb), 0.8);
  backdrop-filter: blur(20px);

  color: var(--app-color-dark-contrast);

  border: solid 1px rgba(var(--app-color-light-rgb), 0.1);
}

.lists {
  list-style: none;

  padding: 0;

  li {
    display: flex;
    align-items: center;

    padding: 0.7rem 1rem;

    cursor: pointer;

    &:focus {
      box-shadow: inset 0 0 0 2px var(--app-color-light);
    }

    &:hover {
      background-color: rgba(var(--app-color-light-rgb), 0.1) !important;
    }

    &.bordered {
      border-bottom: solid 0.5px rgba(var(--app-color-light-rgb), 0.3);
    }

    .icon {
      display: flex;
      align-items: center;
      
      padding-right: 1rem;

    }
  }
}
